<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurantsFound === 0) { %>
        <p>Unfortunately, we have no recommended restaurants yet!</p>
        <p>Maybe, start recommending some?</p>
      <% } else { %>
        <p>We found <%= numberOfRestaurantsFound %> restaurants.</p>
        <p>Find your next favorite restaurants with help of our other users!</p>
        <form action="/restaurants" method="GET">
          <input
            type="hidden"
            value="<%= nextSortOrder %>"
            name="order"
          />
          <button class="btn">Change Order</button>
        </form>
        <ul id="restaurants-list">
          <% for (const restaurant of restaurants) { %>
            <%- include('includes/restaurants/restaurant-item', { restaurant }) %>
          <% } %>
        </ul>
      <% } %>
    </main>
  </body>
</html>
